:root
	--default-font: "Montserat", Arial, sans-serif
	--title-font: "Porsche", Arial, sans-serif

	--base-width: 1200px

	--body-bg-color: #0C0C0C
	--body-text-color: #fff

	--base-font-size: 14px

	--main-color: #307376
	
	--border-color: #292929

	--input-hor-spacing: em(78)
	--input-vert-spacing: em(50)