.standart-page
	padding: 0 constant(safe-area-inset-right) 0 constant(safe-area-inset-left)
	padding: 0 env(safe-area-inset-right) 0 env(safe-area-inset-left)

	&__text
		line-height: 182%
		
		> *
			
			&:not(img)
				max-width: 900px