.popup#log-in
	.popup__title Вход
	.popup__content
		form(action="#")
			.form__inputs
				.form__inputs-input
					.default-input
						input.default-input__input(type="text" required="" placeholder="Admin")
						label.default-input__label Логин
						.default-input__error
							.error-text <!-- текст ошибки -->
				.form__inputs-input
					.default-input
						input.default-input__input.default-input__input--error(type="password" required="" placeholder="*********")
						label.default-input__label Пароль
						.default-input__error
							.error-text Какой-то текст ошибки
						.default-input__pass-toggler
				.form__submit-btn
					input.default-btn(type="submit" value="Войти")
				//- .form__submit-text
					p Забыли пароль? Вы можете его 
						a(href="#") восставновить
.popup#add-user
	.popup__title Подать заявку на регистрацию
	.popup__content
		form(action="#")
			.form__inputs
				.form__inputs-input
					.default-input
						input.default-input__input(type="text" required="" placeholder="Иванов Иван Иванович")
						label.default-input__label ФИО
						.default-input__error
							.error-text <!-- текст ошибки -->
				.form__inputs-input
					.default-input
						input.default-input__input.phone-input(type="tel" required="" placeholder="+7 (351) 443 81 09")
						label.default-input__label Телефон
						.default-input__error
							.error-text <!-- текст ошибки -->
				.form__btns
					.form__btns-item
						input.default-btn(type="submit") 