header.head
	.head__wrap
		.head__logo
			a.logo(href="#")
				.logo__text 
					span Porsche
					span Club
		nav.head__menu
			ul.h-menu
				li
					a.h-menu__link.marked(href="#") О клубе
				li
					a.h-menu__link.active(href="#") Проекты
				li
					a.h-menu__link(href="#") Участники
				li
					a.h-menu__link(href="#") Контакты 
		.head__lc
			a.lc-btn(href="#") 
				span.lc-btn__text Личный кабинет
				include ../../img/ico-lc.svg