<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Формы
		include inc/head.pug
		include inc/css.pug
	body.main.loading
		include inc/header.pug
		main#content
			.inner-content
				.inner-content__title
					.wrapper
						.title-block
							h1.title-block__title Формы
				.inner-content__content
					.wrapper
						div
							
		include inc/footer.pug
		include inc/scripts.pug