<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Новости
		include inc/head.pug
		include inc/css.pug
	body.main.loading
		include inc/header.pug
		main#content
			.inner-content
				.inner-content__title
					.wrapper
						.title-block
							h1.title-block__title Новости
				.inner-content__content
					.wrapper
						.news-list
							each news in ["Porsche Club Moscow Golf Cup 2017", "Закрытие Летнего Сезона", "eekend Le Mans 24h Porsche Club Moscow", "Открытие сезона 2017", "Porsche Club Moscow Golf Cup 2017", "Закрытие Летнего Сезона", "eekend Le Mans 24h Porsche Club Moscow", "Открытие сезона 2017", ]
								.news-list__item
									.news-item
										.news-item__date 17.07.2017
										a.news-item__title(href="#")=news
										a.news-item__arrow(href="#")
						.more-btn__container
							a.default-btn.default-btn--more(href="#") 
								| <!-- подставить класс default-btn--loading при загрузке -->
								span.default-btn__text Показать ещё
								include ../img/ico-update.svg
		include inc/footer.pug
		include inc/scripts.pug